# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10jobs data.

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r'C:\Users\S.Ramaa Devi\Downloads\chromedriver_win32 (2).zip\chromedriver.exe')

In [3]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [6]:
#location=driver.find_element(By.CLASS_NAME,"suggestor-input") 
# if we try this it joins with designations as the class name for both is the same
#location.send_keys("Bangalore")

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
# full path for only one location
location.send_keys("Bangalore")

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [17]:
job_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')

In [18]:
for i in job_tag:
    job_title.append(i.text)
    
len(job_title)

20

In [19]:
for i in location_tag:
    job_location.append(i.text)
    
for i in company_tag:
    company_name.append(i.text)
    
for i in exp_tag:
    experience_required.append(i.text)

In [20]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 19 20 19

In [21]:
df=pd.DataFrame(data={'JOB_TITLE':job_title[0:10],'JOB_LOCATION':job_location[0:10],'COMPANY_NAME':company_name[0:10],'EXP_NEEDED':experience_required[0:10]},index=range(1,11))
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_NEEDED
1,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
2,Data Analyst,Bangalore/Bengaluru,Namdhari Seeds,0-2 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Walmart,8-12 Yrs
4,Senior Manager Data Analyst,Hybrid - Bangalore/Bengaluru,Born Commerce,8-12 Yrs
5,Data Analyst | Purchase Order | Sales Order | ...,Hybrid - Bangalore/Bengaluru(Whitefield),Inspiration Manpower Consultancy,2-6 Yrs
6,Business Analyst/ Sr. Data Analyst,Bangalore/Bengaluru,Zen Data Shastra Llp,4-9 Yrs
7,Data Analyst III - HR,Bangalore/Bengaluru,Walmart,3-7 Yrs
8,Data Analyst III,Bangalore/Bengaluru,Walmart,2-6 Yrs
9,Senior Data Analyst - Applied Analytics,Bangalore/Bengaluru,IBM,5-8 Yrs
10,Data Analyst - Data Science,Bangalore/Bengaluru,Awign Enterprises,1-4 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [22]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')

In [23]:
driver.get("https://www.naukri.com/")

In [24]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Scientist")

In [25]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [26]:
search=driver.find_element(By.CLASS_NAME,'qsbSummit')
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".qsbSummit"}
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0063F243]
	(No symbol) [0x005C7FD1]
	(No symbol) [0x004BD04D]
	(No symbol) [0x004EC0B0]
	(No symbol) [0x004EC22B]
	(No symbol) [0x0051E612]
	(No symbol) [0x005085D4]
	(No symbol) [0x0051C9EB]
	(No symbol) [0x00508386]
	(No symbol) [0x004E163C]
	(No symbol) [0x004E269D]
	GetHandleVerifier [0x008D9A22+2655074]
	GetHandleVerifier [0x008CCA24+2601828]
	GetHandleVerifier [0x006E8C0A+619850]
	GetHandleVerifier [0x006E7830+614768]
	(No symbol) [0x005D05FC]
	(No symbol) [0x005D5968]
	(No symbol) [0x005D5A55]
	(No symbol) [0x005E051B]
	BaseThreadInitThunk [0x76197D69+25]
	RtlInitializeExceptionChain [0x77A7BB9B+107]
	RtlClearBits [0x77A7BB1F+191]

In [27]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit") # double quotes
search.click()

In [28]:
job_title=[]
job_location=[]
company_name=[]

job_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in job_tag[0:10]:
    job_title.append(i.text)
    
for i in location_tag[0:10]:
    job_location.append(i.text)
    
for i in company_tag[0:10]:
    company_name.append(i.text)
    
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [29]:
df=pd.DataFrame(data={'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name},index=range(1,11))
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME
1,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data Scientist,Bangalore/Bengaluru,Walmart
4,Data Scientist Iii,Bangalore/Bengaluru,Walmart
5,Data Scientist (Mlops) Iii,Bangalore/Bengaluru,Walmart
6,"Senior Manager I, Data Science",Bangalore/Bengaluru,Walmart
7,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,Senior Principal Data Scientist,Bangalore/Bengaluru,Optum
10,Principal Data Scientist,Bangalore/Bengaluru,Optum

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [30]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')

In [31]:
driver.get("https://www.naukri.com/")

In [32]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Scientist")

In [33]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Delhi/NCR")

In [34]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit") # double quotes
search.click()

In [35]:
salary_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [36]:
location1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[2]/div[3]/label/p/span[1]')
location1.click()

In [37]:
j_title=[]
j_location=[]
c_name=[]
exp_req=[]

j_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
c_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')

for i in j_tag[0:10]:
    j_title.append(i.text)
    
for i in loc_tag[0:10]:
    j_location.append(i.text)
    
for i in c_tag[0:10]:
    c_name.append(i.text)
    
for i in exp_tag[0:10]:
    exp_req.append(i.text)
    
    
print(len(j_title),len(j_location),len(c_name),len(exp_req))

10 10 10 10

In [38]:
df=pd.DataFrame(data={'JOB_TITLE':j_title,'JOB_LOCATION':j_location,'COMPANY_NAME':c_name,'EXPERIENCE_REQUIRED':exp_req},index=range(1,11))
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
1,Analyst Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
2,Analyst Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
4,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
6,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs
7,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
8,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
9,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
10,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand

2. ProductDescription

3. Price

In [39]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.flipkart.com/')

In [41]:
products=driver.find_element(By.CLASS_NAME,"_3704LK")
products.send_keys("sunglasses")

In [42]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [43]:
sun_glasses=[]

In [44]:
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

In [45]:
for page in range(0,2):
    tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in tag: # indentation is very important --should be within
    sun_glasses.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  
    next_button.click()
    time.sleep(5)

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0063F243]
	(No symbol) [0x005C7FD1]
	(No symbol) [0x004BD04D]
	(No symbol) [0x004BFD34]
	(No symbol) [0x004BFBE5]
	(No symbol) [0x004BFE80]
	(No symbol) [0x004E7D27]
	(No symbol) [0x0050858C]
	(No symbol) [0x004E2BFF]
	(No symbol) [0x00508804]
	(No symbol) [0x0051C9EB]
	(No symbol) [0x00508386]
	(No symbol) [0x004E163C]
	(No symbol) [0x004E269D]
	GetHandleVerifier [0x008D9A22+2655074]
	GetHandleVerifier [0x008CCA24+2601828]
	GetHandleVerifier [0x006E8C0A+619850]
	GetHandleVerifier [0x006E7830+614768]
	(No symbol) [0x005D05FC]
	(No symbol) [0x005D5968]
	(No symbol) [0x005D5A55]
	(No symbol) [0x005E051B]
	BaseThreadInitThunk [0x76197D69+25]
	RtlInitializeExceptionChain [0x77A7BB9B+107]
	RtlClearBits [0x77A7BB1F+191]

In [47]:
for page in range(0,2):
    tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tag:
        sun_glasses.append(i.text)
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # indentation is very important --should be within
        next_button.click()
        time.sleep(5)

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0063F243]
	(No symbol) [0x005C7FD1]
	(No symbol) [0x004BD04D]
	(No symbol) [0x004BFD34]
	(No symbol) [0x004BFBE5]
	(No symbol) [0x004BFE80]
	(No symbol) [0x004E7D27]
	(No symbol) [0x0050858C]
	(No symbol) [0x004E2BFF]
	(No symbol) [0x00508804]
	(No symbol) [0x0051C9EB]
	(No symbol) [0x00508386]
	(No symbol) [0x004E163C]
	(No symbol) [0x004E269D]
	GetHandleVerifier [0x008D9A22+2655074]
	GetHandleVerifier [0x008CCA24+2601828]
	GetHandleVerifier [0x006E8C0A+619850]
	GetHandleVerifier [0x006E7830+614768]
	(No symbol) [0x005D05FC]
	(No symbol) [0x005D5968]
	(No symbol) [0x005D5A55]
	(No symbol) [0x005E051B]
	BaseThreadInitThunk [0x76197D69+25]
	RtlInitializeExceptionChain [0x77A7BB9B+107]
	RtlClearBits [0x77A7BB1F+191]

In [46]:
for page in range(0,3):
    tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tag:
        sun_glasses.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # indentation is very important --should be within
    next_button.click()
    time.sleep(5)

In [48]:
len(sun_glasses)

118

In [49]:
df=pd.DataFrame(data=sun_glasses[0:100])
df

                 0
0     Singco India
1           OCHILA
2            Irayz
3           PIRASO
4         Fastrack
..             ...
95  kingsunglasses
96          OCHILA
97        Fastrack
98        Fastrack
99       ROYAL SON

[100 rows x 1 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market

place=FLIPKART

In [50]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [51]:
rating=[]
review_summary=[]
full_review=[]

In [52]:
for page in range(0,10):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    sum_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    full_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rating_tag:
        rating.append(i.text)
        
    for i in sum_tag:
        review_summary.append(i.text)
        
    for i in full_tag:
        full_review.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [53]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [54]:
df=pd.DataFrame(data={'RATING':rating,'REVIEW_SUMMARY':review_summary,'FULL_REVIEW':full_review},index=range(1,101))
df

,RATING,REVIEW_SUMMARY,FULL_REVIEW
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
96,5,Worth every penny,Previously I was using one plus 3t it was a gr...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
100,5,Classy product,Best and amazing product.....phone looks so pr...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
    
1. Brand

2. ProductDescription

3. Price

In [55]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.flipkart.com/')

In [56]:
products=driver.find_element(By.CLASS_NAME,"_3704LK")
products.send_keys("sneakers")

In [57]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [58]:
brand=[]
desc=[]
price=[]

In [61]:
for page in range(0,3):
    b_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    desc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in b_tag:
        brand.append(i.text)
        
    for i in desc_tag:
        desc.append(i.text)
        
    for i in price_tag:
        price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [62]:
print(len(brand),len(desc),len(price))

240 167 240

In [63]:
print(len(brand[0:100]),len(desc[0:100]),len(price[0:100]))

100 100 100

In [64]:
df=pd.DataFrame(data={'SNEAKERS_BRAND':brand,'PRODUCT_DESCRIPTION':desc,'PRICE':price},index=range(1,101))
df

ValueError: Length of values (240) does not match length of index (100)

In [65]:
df=pd.DataFrame(data={'SNEAKERS_BRAND':brand[0:100],'PRODUCT_DESCRIPTION':desc[0:100],'PRICE':price[0:100]},index=range(1,101))
df

    SNEAKERS_BRAND                                PRODUCT_DESCRIPTION   PRICE
1            Zixer  Exclusive dancing sneaker For Boys||Funky danc...    ₹599
2            Zixer  Sneakers Dancing Shoes/Street Dancing Shoe For...    ₹594
3           Labbin                                   Sneakers For Men    ₹399
4             aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹359
5           BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹266
..             ...                                                ...     ...
96          BRUTON                 Future Rider Core Sneakers For Men    ₹499
97        HUNKSTAR                SWIFT RUN 22 DECON Sneakers For Men    ₹639
98        HUNKSTAR                 Super 445 Fashion Sneakers For Men    ₹639
99            PUMA  Bersache Sports Shoes For men|Latest Stylish R...  ₹3,999
100          Sparx                                   Sneakers For Men    ₹979

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [66]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.amazon.in/')

In [67]:
products=driver.find_element(By.CLASS_NAME,"nav-search-field ")
products.send_keys("laptop")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0063F243]
	(No symbol) [0x005C7FD1]
	(No symbol) [0x004BCF10]
	(No symbol) [0x004E795E]
	(No symbol) [0x004E70E5]
	(No symbol) [0x0050858C]
	(No symbol) [0x004E2BFF]
	(No symbol) [0x00508804]
	(No symbol) [0x0051C9EB]
	(No symbol) [0x00508386]
	(No symbol) [0x004E163C]
	(No symbol) [0x004E269D]
	GetHandleVerifier [0x008D9A22+2655074]
	GetHandleVerifier [0x008CCA24+2601828]
	GetHandleVerifier [0x006E8C0A+619850]
	GetHandleVerifier [0x006E7830+614768]
	(No symbol) [0x005D05FC]
	(No symbol) [0x005D5968]
	(No symbol) [0x005D5A55]
	(No symbol) [0x005E051B]
	BaseThreadInitThunk [0x76197D69+25]
	RtlInitializeExceptionChain [0x77A7BB9B+107]
	RtlClearBits [0x77A7BB1F+191]

In [68]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.amazon.in/s?k=laptop&crid=F8Q3EPG8P618&sprefix=laptop%2Caps%2C261&ref=nb_sb_ss_ts-doa-p_2_6')
# tried thr other way ,going straightly into laptop browser

In [69]:
filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[14]/span/a')
filter.click()

In [70]:
title=[]
ratings=[]
price=[]

In [71]:
title_tag=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
rat_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

In [72]:
for i in title_tag:
    title.append(i.text)
    
 
    
for i in price_tag:
    price.append(i.text)

In [73]:
for i in rat_tag:
    ratings.append(i.text.split())

In [74]:
ratings

[['4.2(21)'],
 ['4.3(56)'],
 ['3.3(42)'],
 ['4.0(33)'],
 ['4.0(17)'],
 ['4.3(90)'],
 ['3.9(9)'],
 ['4.4(54)'],
 ['5.0(11)'],
 ['4.0(19)'],
 ['3.9(9)'],
 ['2.5(18)'],
 ['3.8(6)'],
 ['4.0(92)'],
 ['5.0(1)'],
 ['4.3(44)'],
 ['4.6(47)'],
 ['4.4(667)'],
 ['1.0(2)'],
 ['3.7(46)'],
 ['4.0(31)'],
 ['4.0(1)'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

In [75]:
print(len(title),len(ratings),len(price))

32 30 32

In [76]:
df=pd.DataFrame(data={'TITLE':title[0:10],'RATINGS':ratings[0:10],'PRICE':price[0:10]},index=range(1,11))
df

                                                TITLE    RATINGS     PRICE
1   HP Pavilion x360 11th Gen Intel Core i7 14 inc...  [4.2(21)]    82,490
2   Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...  [4.3(56)]    82,990
3   (Renewed) HP ProBook 430 G3 6th Gen Intel Core...  [3.3(42)]    24,935
4   ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  [4.0(33)]    99,396
5   Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....  [4.0(17)]    91,490
6   HP Victus 11th Gen Intel Core i7-11800H 16.1" ...  [4.3(90)]  1,08,990
7   HP Victus Gaming Latest 12th Gen Intel Core i7...   [3.9(9)]    81,990
8   Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...  [4.4(54)]    95,990
9   Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...  [5.0(11)]    79,990
10  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  [4.0(19)]  1,49,900

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
    
1.First get the webpage https://www.azquotes.com/
    
2. Click on Top Quotes

3. Than scrap a) Quote b) Author c) Type Of Quotes

In [77]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.azquotes.com/')

In [78]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [79]:
quote=[]
author=[]
type_of_quotes=[]

In [80]:
for page in range(0,10):
    q_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    a_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    t_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    
    for i in q_tag:
        quote.append(i.text)
        
    for i in a_tag:
        author.append(i.text)
        
    for i in t_tag:
        type_of_quotes.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()

ElementClickInterceptedException: Message: element click intercepted: Element <li class="next">...</li> is not clickable at point (120, 36). Other element would receive the click: <a href="/"></a>
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0063F243]
	(No symbol) [0x005C7FD1]
	(No symbol) [0x004BD04D]
	(No symbol) [0x004F28B9]
	(No symbol) [0x004F08CC]
	(No symbol) [0x004EE4CB]
	(No symbol) [0x004ED164]
	(No symbol) [0x004E32A6]
	(No symbol) [0x0050858C]
	(No symbol) [0x004E2BFF]
	(No symbol) [0x00508804]
	(No symbol) [0x0051C9EB]
	(No symbol) [0x00508386]
	(No symbol) [0x004E163C]
	(No symbol) [0x004E269D]
	GetHandleVerifier [0x008D9A22+2655074]
	GetHandleVerifier [0x008CCA24+2601828]
	GetHandleVerifier [0x006E8C0A+619850]
	GetHandleVerifier [0x006E7830+614768]
	(No symbol) [0x005D05FC]
	(No symbol) [0x005D5968]
	(No symbol) [0x005D5A55]
	(No symbol) [0x005E051B]
	BaseThreadInitThunk [0x76197D69+25]
	RtlInitializeExceptionChain [0x77A7BB9B+107]
	RtlClearBits [0x77A7BB1F+191]

In [81]:
print(len(quote),len(author),len(type_of_quotes))

900 900 900

In [82]:
df=pd.DataFrame(data={'QUOTE':quote[0:50],'AUTHOR_NAME':author[0:50],'TYPE_OF_QUOTES':type_of_quotes[0:50]},index=range(1,51))
df

,QUOTE,AUTHOR_NAME,TYPE_OF_QUOTES
1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
6,Be more concerned with your character than you...,John Wooden,"Inspirational, Success, Basketball"
7,Weak people revenge. Strong people forgive. In...,Albert Einstein,"Strong, Revenge, Intelligent"
8,A mind is like a parachute. It doesn't work if...,Frank Zappa,"Inspirational, Teacher, Religious"
9,Never be afraid to raise your voice for honest...,William Faulkner,"Truth, Honesty, Lying"
10,There are three kinds of men. The one that lea...,Will Rogers,"Funny, Reading, Learning"
11,"A strong nation, like a strong person, can aff...",Jimmy Carter,"Strong, Thoughtful, Compassion"
12,The difference between stupidity and genius is...,Albert Einstein,"Love, Funny, Life"
13,We the people are the rightful masters of both...,Abraham Lincoln,"Freedom, Men, Democracies Have"
14,"With or without religion, you would have good ...",Steven Weinberg,"God, Religious, Atheist"
15,Human kindness has never weakened the stamina ...,Franklin D. Roosevelt,"Respect, Kindness, Character"
16,A person who never made a mistake never tried ...,Albert Einstein,"Inspirational, Motivational, Change"
17,"My mission in life is not merely to survive, b...",Maya Angelou,"Inspirational, Life, Inspiring"
18,"Life is short, Break the Rules. Forgive quickl...",Mark Twain,"Love, Inspirational, Life"
19,This country will not be a good place for any ...,Theodore Roosevelt,"Inspiring, Country, 4th Of July"
20,"In a world filled with hate, we must still dar...",Michael Jackson,"Inspirational, Dream, Hate"
21,Darkness cannot drive out darkness; only light...,"Martin Luther King, Jr.","Love, Inspirational, Life"
22,To be a Christian means to forgive the inexcus...,C. S. Lewis,"Forgiveness, God, Christian"
23,A man who is good enough to shed his blood for...,Theodore Roosevelt,"Country, Men, Squares"
24,Kindness is the language which the deaf can he...,Mark Twain,"Inspirational, Relationship, Positive"
25,Most folks are as happy as they make up their ...,Abraham Lincoln,"Inspirational, Motivational, Positive"
26,A happy marriage is the union of two good forg...,Ruth Graham,"Love, Friendship, Relationship"
27,I believe in Christianity as I believe that th...,C. S. Lewis,"Faith, God, Christian"
28,"Politics is the art of looking for trouble, fi...",Groucho Marx,"Art, Freedom, Political Will"
29,I believe in everything until it's disproved. ...,John Lennon,"Inspirational, Life, Faith"
30,"At the end of your life, you will never regret...",Barbara Bush,"Inspirational, Life, Meaningful"
31,I never think of the future - it comes soon en...,Albert Einstein,"Happiness, Time, Clever"
32,Our greatest fear should not be of failure but...,Francis Chan,"Inspirational, Inspiring, Success"
33,Failure is simply the opportunity to begin aga...,Henry Ford,"Love, Inspirational, Life"
34,Music expresses that which cannot be put into ...,Victor Hugo,"Music, Sound And Music, Musical Life"
35,Good actions are a guard against the blows of ...,Abu Bakr,"Adversity, Blow, Action"
36,Positive thinking will let you do everything b...,Zig Ziglar,"Positive, Thinking Of You, Attitude"
37,You have enemies? Good. That means you've stoo...,Winston Churchill,"Inspirational, Funny, Life"
38,"You don't have to be great to start, but you h...",Zig Ziglar,"Inspirational, Life, Motivational"
39,"Let every nation know, whether it wishes us we...",John F. Kennedy,"Inspirational, Memorial Day, Freedom"
40,"If you want total security, go to prison. Ther...",Dwight D. Eisenhower,"Freedom, Patriotic, Vaccines"
41,"Socialism is a philosophy of failure, the cree...",Winston Churchill,"Philosophy, Ignorance, Democratic Socialism"
42,It is the supreme art of the teacher to awaken...,Albert Einstein,"Inspirational, Dance, Education"
43,Once you replace negative thoughts with positi...,Willie Nelson,"Life, Change, Positive"
44,You build on failure. You use it as a stepping...,Johnny Cash,"Life, Bullying, Mistake"
45,"All my life through, the new sights of Nature ...",Marie Curie,"Life, Nature, Children"
46,I've learned that people will forget what you ...,Maya Angelou,"Inspirational, Life, Motivational"
47,Marriage is not a ritual or an end. It is a lo...,Amy Bloom,"Marriage, Love You, Long"
48,"When obstacles arise, you change your directio...",Zig Ziglar,"Inspirational, Motivational, Success"
49,"Time you enjoy wasting, was not wasted.",John Lennon,"Love, Inspirational, Life"
50,The next time some academics tell you how impo...,Thomas Sowell,"Diversity, Important, Liberty"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [103]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.jagranjosh.com/')

In [99]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [106]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [101]:
name=[]
born_dead=[]
term=[]
remarks=[]

In [111]:
name_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong')
name_tag.text

'Jawahar Lal Nehru'

In [117]:
born_tag=driver.find_element(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr[2]/td[3]')
born_dead.append(born_tag.text)

In [119]:
t_tag=driver.find_element(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr[2]/td[4]/p[2]')
term.append(t_tag.text)

In [120]:
r_tag=driver.find_element(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr[2]/td[5]/p')
remarks.append(r_tag.text)

In [121]:
print(len(name),len(born_dead),len(term),len(remarks))

2 1 1 1

In [122]:
df=pd.DataFrame({'PM_NAME':name[0],'PM_LIFESPAN':born_dead,'RULETERM':term,'REMARKS':remarks})
df

,PM_NAME,PM_LIFESPAN,RULETERM,REMARKS
0,Jawahar Lal Nehru,(1889–1964),"16 years, 286 days",The first prime minister of India and the long...

In [ ]:
# cant scrap more there is no class .

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the

In [102]:
driver=webdriver.Chrome(r'chromedriver_win32(2).zip')
driver.get('https://www.motor1.com/')

In [88]:
search=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
search.click()

In [89]:
search=driver.find_element(By.XPATH,'//li[@class="m1-navigation-main__animated-block grand left top mobile dropdown show"]')
search.click()

In [90]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a')
search.click()

In [91]:
name=[]
desc=[]
price=[]

In [92]:
name_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tag:
    name.append(i.text)
    
len(name)

51

In [93]:
d_tag=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[103]')
for i in d_tag:
    desc.append(i.text)
    
len(desc)

1

In [95]:
price_tag=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[102]/strong')
for i in price_tag:
    price.append(i.text)
    
len(price)

1

In [96]:
df=pd.DataFrame({'CAR_NAME':name[0],'DESCRIPTION':desc,'CAR_PRICE':price})
df

,CAR_NAME,DESCRIPTION,CAR_PRICE
0,Drako GTE,Rolls-Royce is back in the business of coachbu...,Price: $28.0 Million (est.)

In [97]:
#cant scrap all as it does not contain a class